@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-primary: #1e40af;
  --color-bg: #0f172a;
}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: var(--color-bg);
    color: white;
  }
}
